name: Build Open Source Components

on: [push, pull_request]

jobs:
  build:
    runs-on: [self-hosted, Linux]

    strategy:
      matrix:
        machine: ["mt7688", "at91sam"]

    steps:
    - name: Checkout code including full history and submodules
      uses: actions/checkout@v2
      with:
        submodules: true
        fetch-depth: 0

    - name: Install Yocto dependencies
      run: |
        sudo apt update && sudo apt -qy --no-install-recommends install \
          build-essential \
          chrpath \
          cpio \
          debianutils \
          diffstat \
          gawk \
          gcc-multilib \
          git-core \
          iputils-ping \
          libegl1-mesa \
          libsdl1.2-dev \
          pylint3 \
          python3 \
          python3-git \
          python3-jinja2 \
          python3-pexpect \
          python3-pip \
          socat \
          texinfo \
          unzip \
          wget \
          xterm \
          xz-utils \
          ;

    - name: Build Open Source components
      run: |
        scripts/bbwrapper.sh ${{ matrix.machine }} gardena-image-opensource-prod linux-yocto-tiny u-boot
        scripts/bbwrapper.sh ${{ matrix.machine }} package-index

    - name: Upload artifacts
      uses: actions/upload-artifact@v1
      with:
        name: Build artifacts (${{ matrix.machine }})
        path: build-${{ matrix.machine }}/tmp/deploy
