name: Build Open Source Components

on:
  pull_request:
    paths-ignore:
      - "README.md"
      - "doc/**"
  workflow_run:
    workflows:
      - Release
    types:
      - completed

jobs:
  build:
    runs-on: [self-hosted, Linux]

    strategy:
      matrix:
        machine: ["mt7688"]

    steps:
      - name: Install Yocto dependencies
        run: |
          sudo apt update && sudo apt -qy --no-install-recommends install \
            build-essential \
            chrpath \
            cpio \
            debianutils \
            diffstat \
            file \
            gawk \
            gcc \
            git \
            iputils-ping \
            libacl1 \
            liblz4-tool \
            locales \
            python3 \
            python3-git \
            python3-jinja2 \
            python3-pexpect \
            python3-pip \
            python3-subunit \
            socat \
            texinfo \
            unzip \
            wget \
            xz-utils \
            zstd \
            ;

      - name: Generate locales
        run: sudo locale-gen en_US.UTF-8

      - name: Build Open Source components
        run: |
          echo hello
